*{
    margin: 0;
    padding: 0;
}
html,
body{
    min-height: 100%;
    height: 100%;
    background-color: #f6f6f6;
}
section{
    height: 100%;
    display: flex;
    flex-flow: column;
    align-items: center;
    font-family: 'Lato', sans-serif;
    color: #3c3c3c;
}
.headings{
    display: flex;
    flex-flow: column;
    width: 36%;
    margin-top: 110px;
    margin-bottom: 40px;
}
.headings__title{
    display: flex;
    flex-flow: column;
    justify-content: center;
    text-align: center;
    font-size: 34px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: .3em;
}
.headings__title hr {
    display: flex;
    align-self: center;
    border: none;
    height: 4px;
    width: 45px;
    background-color: #dddbdb;
    margin-top: 24px;
}
.headings__text{
    margin-top: 40px;
    margin-bottom: 60px;
    text-align: center;
    font-size: 16px;
    font-weight: 300;
}
.cards{
    width: 73%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;

}
.item__img{
    margin: 0 5px;
    position: relative;
}
.item{
    position: relative;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}
.item__img img{
    opacity: .9;
}
.item__name{
    margin-top: 20px;
    font-size: 20px;
    margin-left: 5px;
}
.item_position{
    font-size: 13px;
    font-weight: 300;
    margin-left: 5px;
}
.item:hover .item__img::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #18b5dc;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
}
.item__fav{
    display: flex;
    opacity: 0;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 24px;
    color: #fff;
    
}
.item__fav a {
    display: flex;
    margin: 0  4px;
    width: 42px;
    height: 42px;
    text-decoration: none;
    color: #fff;
    justify-content: center;
    align-items: center;
    background-color: #5ecbe7;
}
.item:hover div.item__fav{
    opacity: 1;
}
.item__fav a:hover{
    color: #3c3c3c;
}